// Global Variables
$font-stack: arial, Helvetica, sans-serif;
$text-colour: #3E3E3E;
$red-colour: #CC0000;
$blue-colour: #0277BD;
$white-colour: #ffffff;
$grey-colour: #CCCCCC;
$black-colour: #3E3E3E;

%relative {
  position: relative;
}
%absolute {
  position: absolute;
  top: 50%;
  left: 50%;

}
%border-shared {
  border: 1px solid $grey-colour;
}

// Global Mixins
@mixin padding ($property) {
          padding: $property;
}
@mixin margin ($property) {
          margin: $property;
}
@mixin button-bg($bg) {
  background: $bg;
    color: $white-colour;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.5s ease;
      color: $white-colour;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

// Global font properties
body, h1, h2, p {
    font-family: $font-stack;
    color: $text-colour;
}
body {
	margin: 0;
	background: $white-colour;
    font-size: 16px;
    line-height: 24px;
}
h1 {
    font-size: 55px;
    line-height: 50px;
}
h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
p {
    font-size: 14px;
    line-height: 18px;
}

// Button
.btn-blue {
    width: 100%;
    height: 50px;
    color: $white-colour;
    text-decoration: none;
    padding: 0;
    border-radius: 0;
    line-height: 50px;
    height: inherit;
    @include button-bg($blue-colour);
    border: 0;
}
.animated-btn {
    position: relative;
    z-index: 0;
    &:hover {
        &:after {
            opacity: 1;
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transition-duration: 0.5s;
        -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
        z-index: -2;
        background-color: $red-colour;
    }
    &.test {
        &:after {
            background-color: $blue-colour;
        }
    }
}

// 2 Column Card task
.two-column {
    @extend %border-shared;
    @include padding(25px);
    @include margin(20px);
    @media screen and (max-width: 767px) {
        @include padding(15px);
    }
    .left-box {
        @extend %relative;
        .btn-gen {
            width: 160px;
            height: 30px;
            @extend %absolute;
            top: 0;
            left: 0;
            .btn-blue {
                font-size: 12px;
                line-height: 30px; 
            }
        }
    }
    .right-box-one, .right-box-two {
        @extend %border-shared;
    }
    .right-box-one {
        @include padding(15px);
        .price {
            h2, p {
                text-align: right;
                @media screen and (max-width: 767px) {
                    text-align: inherit;
                }
            }
        }
        .box-red {
            @include padding(12px 15px);
            @extend %border-shared;
            border-color: $red-colour;
            text-align: center;
            .one {
                border-bottom: 1px solid $red-colour;
                p {
                    margin-bottom: 12px;
                    font-weight: bold;
                }
            }
            .two {
                p {
                    @include margin(12px 0 0 0);
                }
            }
            .one, .two {
                p {
                    color: $red-colour;
                }
            }
        }
        .lorem {
            @include padding(15px 0 0);
            text-align: center;
            @mixin circle ($property) {
                -moz-border-radius: $property;
                -webkit-border-radius: $property;
                border-radius: $property;
            }
            #circle {
                width: 30px;
                height: 30px;
                background-color: #a49f9b;
                @include circle(50px);
                display: inline-block;
                margin: 7px 0 0; 
            }
            p {
                margin-bottom: 0;
            }
        }
    } 
    .right-box-two {
        @include padding(10px);
        margin-top: 10px;
        background-color: #f2f2f2;
        
    }
}

// Header banner task
.banner {
    padding-top: 50px;
    @include margin(20px);
    .ban-box {
        @extend %relative;
        .btn-gen {
            width: 200px;
            height: 50px;
            @extend %absolute;
            top: 0;
            right: 0;
            left: inherit;
            @media screen and (max-width: 767px) {
                right: inherit;
            }
            .btn-blue {
                font-size: 12px;
                line-height: 50px; 
                left: inherit;
                background: $black-colour;
                &:hover {
                    background: $blue-colour;
                }
                @media screen and (max-width: 767px) {
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
        .centerContainer {
            @extend %absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .light-box {
                @extend %relative;
                width: 400px;
                height: 200px;
                margin-left: 30px;
                @include padding(20px);
                &:after {
                    content: '';
                    @extend %absolute;
                    z-index: -1;
                    background: rgba(0, 0, 0, 0.5);
//                    opacity: 0.8;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                h2, p {
                  color: $white-colour;  
                }
                .btn-blue {
                    height: 50px;
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
            @media screen and (max-width: 767px) {
                transform: inherit;
                top: inherit;
                left: inherit;
                position: inherit;
            }
        }
    }
}

// image properties
img {
    border: 0; 
    display: block;
    @media screen and (max-width: 767px) {
        height: inherit;
    }
}



// Padding and Margin
.pl0 {
    padding-left: 0;
    @media screen and (max-width: 767px) {
        padding-left: 15px;
      }
}
.pr0 {
    padding-right: 0;
    @media screen and (max-width: 767px) {
        padding-right: 15px;
      }
}
.pb20 {
    padding-bottom: 20px;
}

